.login-employeer {
  height: 100vh;
  background-image: linear-gradient(105deg, #eaff70 0, #cfff77 10%, #b4ff7e 20%, #97fa84 30%, #78ef8a 40%, #57e18e 50%, #30d391 60%, #00c694 70%, #00bc98 80%, #00b39c 90%, #00aca1 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-login {
  padding: 40px;
  display: flex;
  background: linear-gradient(rgba(253,244,236, 0.6), rgba(253,244,236,0.6));
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.login-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-title h2{
  font-size: 42px;
}

.login-title p {
  font-size: 24px;
  font-weight: 500;
}

.form-loginEmployeer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-loginEmployeer label{
  font-size: 18px;
  font-weight: 500;
  align-self: flex-start;
}

.form-loginEmployeer input {
  width: 250px;
  height: 30px;
  margin-bottom: 10px;
}

.form-loginEmployeer button {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  margin-top: 5px;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  background: #000;
  color: #fff;
}

.form-loginEmployeer button:hover {
  background: #353535;
}

.form-loginEmployeer .link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  color: #000;
}

.form-loginEmployeer .link:hover {
  color: #818181;
}

.p-error {
  font-size: 16px;
  font-weight: 600;
  color: red;
}